@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700&family=Roboto+Slab:wght@300;400;500;600;700&family=Spline+Sans:wght@400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.hero-container {
  font-family: "Spline Sans", sans-serif;
  font-size: 1.125rem; /* Adjusted font size for the hero heading */
  font-weight: 300;
  text-align: center;
  color: rgb(0, 0, 0);
  margin-top: 5rem;
  margin-bottom: 0.5rem;
}

.hero-container p {
  max-width: 100%;
  height: auto;
  margin-top: 0.5rem;
  margin-bottom: 2rem;
  text-align: center;
  color: rgb(113, 109, 109); /* Setting the text color for hero content */
  font-size: 1.125rem;
  font-weight: 300;
}
